.App {
  text-align: center;
  background: white;
  margin-bottom: 2em;
  border-radius: 4px;
}

table {
  display: flex;
  justify-content: center;
}

th {
  border-radius: 4px;
  font-size: 18px;
  padding: 6px;
  background: rgb(86, 95, 223);
  color: white;
  

}

td {
  border: 1px solid #6EB4D0;
  font-size: 12px;
  background: rgb(170, 181, 252);
  color: black;
  padding: 6px 0px 6px 0px;
}

hourlyChange,
.dailyChange {
  padding: 0 1em;
}

.currencyName {
  padding: 0 2em;
}

h1 {
  color: rgb(17, 45, 167);
  padding-top: 1em;
}