.App {
  text-align: center;
  background: rgb(69, 133, 206);
}

.App-Title-1 {
  font-size: 1.5em;
  padding: .5em;
  color: white;
}

.App-Title-2 {
  font-size: .7em;
  margin-bottom: 1em;
  color: white;
}

table {
  display: flex;
  justify-content: center;
}

th {
  border-radius: 4px;
  font-size: .5em;
  padding: 6px;
  background: rgb(37, 103, 179);
  color: white;
  

}

td {
  font-size: .6em;
  background: white;
  color: black;
  padding: .5em;
}

hourlyChange,
.dailyChange {
  padding: 0 1em;
}

.currencyName {
  padding: 0 2em;
}

h1 {
  color: white;
  padding-top: 1em;
}
